<a href="{{ videotape.get_absolute_url }}">
<div class="card mb-4 box-shadow bg-dark" style="color: #cccecf">
  {% if videotape.thumbnail %}
  <img
    class="card-img-top"
    src="{{ videotape.thumbnail }}"
    alt="Thumbnail [100%x225]"
    style="height: 400px; width: 100%; display: block;">
  {% else %}
  <img class=""
       src="https://i.ibb.co/bPT93gw/test.jpg"
       alt="Stock thumbnail"
       style="height: 400px; width: 100%; display: block;">
  {% endif %}
  <div class="card-body">
    <p class="card-title text-center">
      {{videotape.title}}
    </p>
  </div>
</div>
</a>
