<div class="card mb-4 box-shadow bg-dark">
  {% if reservation.videotape.thumbnail %}
  <img
    class="card-img-top"
    src="{{ reservation.videotape.thumbnail }}"
    alt="Thumbnail [100%x225]"
    style="height: 400px; width: 100%; display: block;">
  {% else %}
  <img class=""
       src="https://i.ibb.co/bPT93gw/test.jpg"
       alt="Stock thumbnail"
       style="height: 400px; width: 100%; display: block;">
  {% endif %}
  <div class="card-body text-center" style="color:#cccecf">
    <h4 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
      {{ reservation.videotape }} </h4>
    <h5><b>User: </b> {{ reservation.user }}</h5>
    <h5><b>Start: </b> {{ reservation.time_of_booking }}</h5>
    <h5><b>End: </b> {{ reservation.end_of_booking }}</h5>
    Active:
      {% if reservation.is_active %}
    <h5 style="color:green"> {{ reservation.is_active }}</h5>
    {% else %}
    <h5 style="color:red"> {{ reservation.is_active }}</h5>
    {% endif %}
    </p>
  </div>
</div>
