<div class="card mb-4 box-shadow">
  {% if reservation.videotape.thumbnail %}
  <img
    class="card-img-top"
    src="{{ reservation.videotape.thumbnail }}"
    alt="Thumbnail [100%x225]"
    style="height: 400px; width: 100%; display: block;">
  {% else %}
  <img class=""
       src="https://i.ibb.co/bPT93gw/test.jpg"
       alt="Stock thumbnail"
       style="height: 400px; width: 100%; display: block;">
  {% endif %}
  <div class="card-body">
    <p class="card-title text-center">
    <p><b>VideoTape:</b> {{ reservation.videotape }}</p>
    <p><b>User: </b> {{ reservation.user }}</p>
    <p><b>Start: </b> {{ reservation.time_of_booking }}</p>
    <p><b>End: </b> {{ reservation.end_of_booking }}</p>
    <p><b>Active: </b> {{ reservation.is_active }}</p>
    </p>
  </div>
</div>
