{% extends "base.html" %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="text-center" style="color: #cccecf; font-size: x-large">{% csrf_token %}
  {% for field in form %}
  <div class="fieldWrapper text-center" style="font-size: medium">
    {{ field.errors }}
    <div>
      <b>
      {{ field.label_tag }}
      </b>
    </div>
    <div>
      {{ field }}
    </div>
  </div>
  {% endfor %}
  </br>

  <input type="submit" class="btn btn-info" value="Create a videotape" style="font-size: large; ">
</form>
{% endblock %}


