{% extends "base.html"%}

{% block content %}

<div>
  {% if request.user.is_authenticated %}
    <a href="{%  url 'videotapes:create_reservation'%}"
     class="btn btn-outline-danger">
    <i class="fa fa-times"></i>Reserve
  </a>
  {% endif %}
  {% if request.user.is_superuser %}
  <a href="{%  url 'videotapes:create' %}"
     class="btn btn-outline-primary">
    <i class="fa fa-edit"></i>Create
  </a>
  {% endif %}
</div>
<div class="row">
  {% for videotape in videotapes %}
  <div class="col-md-4">
    {% include "VideoRental/card.html" with videotape=videotape %}
  </div>
  {% endfor %}
</div>
{% endblock %}
