{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <form method="post" class="text-center">{% csrf_token %}
        <h4> Are you sure you want to delete "{{ object }}"?</h4>
        </br>
        <input type="submit" class="btn btn-danger" value="Confirm">
      </form>
      <div class="mb-auto" style="height: 20px"></div>
      <p class="lead mb-0" style="font-size:18px; text-align: center">Software engineering project by Marcin Kołek &
        Ireneusz Przybyło</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
